.home_twitterIcon{
    color: var(--twitterblue--color);
    font-size: 35px !important;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 0px !important;
    border-radius: 30px !important;
   
}

.home_twitterIcon:hover{
    background-color: var(--twitter-background);
    transition: all 100ms ease-out;
}

.sideBar{
    /* border: 1px solid red; */
    flex: 0.2;
    min-width: 250px;
    position: sticky top 0;
    margin-top: 20px;
    margin-left: 70px !important; 
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar__tweet_button{
    text-transform: inherit !important;
    margin-top: 20px !important;
    height: 50px !important;
    font-weight: 900 !important;
    background-color: var(--twitterblue--color) !important;
    color: var(--buttontext-color) !important;
    border: none;
    border-radius: 30px !important;
}
