body{
  --twitter-color: #0f1419;
  --twitter-background: #e6ecf0;
  --twitterblue--color: #1d9bf0;
  --buttontext-color: #ffffff;
  --subtle-white: #f7f9f9;
  --light-text: #536471;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  
}

